rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /novels/{docId} {
      allow read, write: if
          request.time < timestamp.date(2021, 10, 1);
    },
    match /rooms/{docId} {
      allow read, write: if
          request.time < timestamp.date(2021, 10, 1);
    },
    match /users/{docId} {
      allow read, write: if
          request.time < timestamp.date(2021, 10, 1);
    },
  }
}